<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta th:include="include/head.html"/>
    <!--<script type="text/javascript" src="./javascript/member-list.js"></script>-->
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户管理</a>
        <a><cite>代理会员</cite></a>
    </span>
</div>
<div class="x-body">
    <div class="layui-row ayui-form layui-col-md12 x-so">
        <select id="type" class="layui-form-select" style="width:120px; height: 38px;">
            <option value="">会员类型</option>
            <option value="1">代理</option>
            <option value="2">会员</option>
        </select>

        <select id="status" class="layui-form-select" style="width:120px; height: 38px;">
            <option value="">账号状态</option>
            <option value="1">正常</option>
            <option value="2">未激活</option>
        </select>

        <select class="layui-form-select" style="width:100px; height: 38px;">
            <option>全部</option>
            <option>代理</option>
            <option>会员</option>
        </select>

        <select class="layui-form-select" style="width:100px; height: 38px;">
            <option>全部</option>
            <option>代理</option>
            <option>会员</option>
        </select>

        <select id="isLike" class="layui-form-select" style="width:120px; height: 38px;">
            <option value="1">账号(精确)</option>
            <option value="2">账号(模糊)</option>
        </select>

        <input type="text" id="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
        <input class="layui-input" placeholder="开始日" name="startTime" id="startTime">
        <input class="layui-input" placeholder="截止日" name="endTime" id="endTime">
        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
    </div>
    <table class="layui-table" id="membertable" lay-filter="membertable"></table>
</div>
</body>
<script>
    layui.use(['laydate', 'table', 'form'], function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
            , value: '2018-09-01'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#endTime' //指定元素
            , value: '2018-09-30'
        });

        var table = layui.table;
        table.render({
            id: 'memberTable'
            , elem: '#membertable'
            , url: 'member'
            , parseData: parseData// 返回结果解析
            , cols: [
                [
                    {field: 'id', title: 'ID', width: 50}
                    , {field: 'account', title: '账号'}
                    , {field: 'nick', title: '昵称'}
                    , {field: 'type.name', title: '账号状态', templet: '#tplType'}
                    , {field: 'status', title: '账号类型', templet: '#tplStatus'}
                    , {field: 'nick', title: '总资产'}
                    , {field: 'nick', title: '下级数量'}
                    , {field: 'nick', title: '团队余额'}
                    , {field: 'nick', title: '上级账号'}
                    , {field: 'nick', title: '用户等级'}
                    , {field: 'loginNum', title: '登陆次数'}
                    , {field: 'nick', title: '操作', templet: '#barDemo'}
                ]
            ]
            , limit: 15
            , page: true
            , limits: [15, 50, 100]
        });

        // 重载表格
        $('.layui-btn').on("click", function () {
            var where = { //设定异步数据接口的额外参数，任意设
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val(),
                account: $("#account").val(),
                isLike: $("#isLike").val(),
                type: $("#type").val(),
                status: $("#status").val()
            }

            table.reload('memberTable', {
                where: where
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });

        // 排序事件监听器
        table.on('sort(membertable)', function (obj) {
            table.reload('membertable', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });
    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            if ($(obj).attr('title') == '启用') {
                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');
                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});
            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');
                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }
        });
    }
</script>

<script type="text/html" id="tplStatus">
    {{d.status.name}}
</script>
<script type="text/html" id="tplType">
    {{d.type.name}}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>